:host {
  display: grid;
  grid-template-columns: .5fr 2.5fr .5fr .5fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #FEF7FF;
  grid-template-areas:
    "checkbox description delete-icon edit-icon"
    "date date date date";
}


small {
  font-size: .5rem;
}

.checkbox {
  grid-area: checkbox;
  margin: 10px 10px;
}

#comprado:checked + #itemNome {
  color: #7b1fa2;
  font-weight: bold;
}

.description {
  justify-self: start;
  align-self: center;
  margin-left: 1em;
  margin-top: 1em;
}

.d-contents {
  display: contents;
}

.delete-icon {
  justify-self: center;
  align-self: center;
  grid-area: delete-icon;
}

.edit-icon {
  justify-self: center;
  align-self: center;
  grid-area: edit-icon;
}

.date {
  justify-self: start;
  grid-area: date;
  margin-top: .5rem;
  margin-left: .5rem;
}


