.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  background-color: #FEF7FF;
  padding: 1rem;
}

.id {
  display: none;
}
.add-item input {
  padding: .5rem;
  border: none;
  border-radius: .4rem;
  box-shadow: 2px 2px 2px #00000050;
}

.add-item input::placeholder {
  color: #8A8A8A;
  font-size: .55rem;
  text-align: center;
}

.add-item button {

  border: none;
  border-radius: .4rem;
  box-shadow: 2px 2px 2px #00000050;
  color: white;
  font-size: .7rem;
  padding: .4rem;
}

.example-form-field {
  width: 200px;
}


.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

h4 {
  margin: 0;
}

.checkbox {
  margin: 0;
}

#itemNome {
  width: auto;
}

.checked #itemNome {
  color: #7b1fa2;
  font-weight: bold;
}

